.container{
    margin-bottom: 50px;

}

.container-fluid{
    background: burlywood;

} 

.col-12{
    border: 1px solid #000;

} 

.progress{
    margin-bottom: 20px;
} 

.text0{
    width: 200px;
    height: 30
    0px;
} 